# ORDINAL ENCODING

In [1]:
import numpy as np
import pandas as pd

In [2]:
df=pd.read_csv('customer.csv')

In [3]:
df.head()

   age  gender   review education purchased
0   30  Female  Average    School        No
1   68  Female     Poor        UG        No
2   70  Female     Good        PG        No
3   72  Female     Good        PG        No
4   16  Female  Average        UG        No

In [4]:
df=df.iloc[:,2:]

In [5]:
df

     review education purchased
0   Average    School        No
1      Poor        UG        No
2      Good        PG        No
3      Good        PG        No
4   Average        UG        No
5   Average    School       Yes
6      Good    School        No
7      Poor    School       Yes
8   Average        UG        No
9      Good        UG       Yes
10     Good        UG       Yes
11     Good        UG       Yes
12     Poor    School        No
13  Average    School        No
14     Poor        PG       Yes
15     Poor        UG        No
16     Poor        UG       Yes
17     Poor        UG       Yes
18     Good    School        No
19     Poor        PG       Yes
20  Average    School       Yes
21  Average        PG        No
22     Poor        PG       Yes
23     Good    School        No
24  Average        PG       Yes
25     Good    School        No
26     Poor        PG        No
27     Poor        PG        No
28     Poor    School        No
29  Average        UG       Yes
30  Average        UG        No
31     Poor    School       Yes
32  Average        UG       Yes
33     Good        PG       Yes
34  Average    School        No
35     Poor    School       Yes
36     Good        UG       Yes
37  Average        PG       Yes
38     Good    School        No
39     Poor        PG        No
40     Good    School        No
41     Good        PG       Yes
42     Good        PG       Yes
43     Poor        PG        No
44  Average        UG        No
45     Poor        PG       Yes
46     Poor        PG        No
47     Good        PG       Yes
48     Good        UG       Yes
49     Good        UG        No

In [6]:
df.head()

    review education purchased
0  Average    School        No
1     Poor        UG        No
2     Good        PG        No
3     Good        PG        No
4  Average        UG        No

In [7]:
 from sklearn.model_selection import train_test_split

In [8]:
x_train,x_test,y_train,y_test=train_test_split(df.iloc[:,0:2],df.iloc[:,-1],test_size=0.2)

In [9]:
x_train

     review education
25     Good    School
7      Poor    School
15     Poor        UG
6      Good    School
19     Poor        PG
17     Poor        UG
46     Poor        PG
21  Average        PG
0   Average    School
8   Average        UG
36     Good        UG
28     Poor    School
9      Good        UG
12     Poor    School
11     Good        UG
33     Good        PG
3      Good        PG
35     Poor    School
27     Poor        PG
14     Poor        PG
49     Good        UG
4   Average        UG
16     Poor        UG
24  Average        PG
30  Average        UG
41     Good        PG
10     Good        UG
39     Poor        PG
48     Good        UG
45     Poor        PG
32  Average        UG
29  Average        UG
1      Poor        UG
42     Good        PG
44  Average        UG
34  Average    School
13  Average    School
2      Good        PG
40     Good    School
26     Poor        PG

In [10]:
y_train

25     No
7     Yes
15     No
6      No
19    Yes
17    Yes
46     No
21     No
0      No
8      No
36    Yes
28     No
9     Yes
12     No
11    Yes
33    Yes
3      No
35    Yes
27     No
14    Yes
49     No
4      No
16    Yes
24    Yes
30     No
41    Yes
10    Yes
39     No
48    Yes
45    Yes
32    Yes
29    Yes
1      No
42    Yes
44     No
34     No
13     No
2      No
40     No
26     No
Name: purchased, dtype: object

In [11]:
x_test

     review education
20  Average    School
18     Good    School
43     Poor        PG
31     Poor    School
47     Good        PG
5   Average    School
22     Poor        PG
38     Good    School
37  Average        PG
23     Good    School

In [12]:
y_test

20    Yes
18     No
43     No
31    Yes
47    Yes
5     Yes
22    Yes
38     No
37    Yes
23     No
Name: purchased, dtype: object

# Apply ordinal encoder

In [13]:
from sklearn.preprocessing import OrdinalEncoder

In [14]:
oe=OrdinalEncoder(categories=[['Poor','Average','Good'],['School','UG','PG']])

# we train this model only on training data set

In [15]:
oe.fit(x_train)

OrdinalEncoder(categories=[['Poor', 'Average', 'Good'], ['School', 'UG', 'PG']])

# we apply transform on bith x_train and x_test

In [16]:
x_train=oe.transform(x_train)
x_test=oe.transform(x_test)

In [17]:
x_train

array([[2., 0.],
       [0., 0.],
       [0., 1.],
       [2., 0.],
       [0., 2.],
       [0., 1.],
       [0., 2.],
       [1., 2.],
       [1., 0.],
       [1., 1.],
       [2., 1.],
       [0., 0.],
       [2., 1.],
       [0., 0.],
       [2., 1.],
       [2., 2.],
       [2., 2.],
       [0., 0.],
       [0., 2.],
       [0., 2.],
       [2., 1.],
       [1., 1.],
       [0., 1.],
       [1., 2.],
       [1., 1.],
       [2., 2.],
       [2., 1.],
       [0., 2.],
       [2., 1.],
       [0., 2.],
       [1., 1.],
       [1., 1.],
       [0., 1.],
       [2., 2.],
       [1., 1.],
       [1., 0.],
       [1., 0.],
       [2., 2.],
       [2., 0.],
       [0., 2.]])

# Apply label encoder for output feature

In [18]:
from sklearn.preprocessing import LabelEncoder

In [19]:
le=LabelEncoder()

In [20]:
le.fit(y_train)

LabelEncoder()

In [21]:
le.classes_

array(['No', 'Yes'], dtype=object)

In [22]:
y_train=le.transform(y_train)
y_test=le.transform(y_test)

In [23]:
y_train

array([0, 1, 0, 0, 1, 1, 0, 0, 0, 0, 1, 0, 1, 0, 1, 1, 0, 1, 0, 1, 0, 0,
       1, 1, 0, 1, 1, 0, 1, 1, 1, 1, 0, 1, 0, 0, 0, 0, 0, 0])